*,
*:after,
*:before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	transition: .4s ease-in-out;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	outline: none;
}

img {
	display: block;
	/* width: 100%; */
}

body {
	font-family: 'Oxygen', sans-serif;
}

header:after, .container:after, footer:after {
	content: "";
	display: table;
	clear: both;
}

/* ///Style for all containers/// */

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1160px;
	padding: 24px 16px;
}

/* ///Style for header START/// */

header {
	width: 100%;
	/* box-shadow: 3px 3px 1px rgba(0, 0, 0, .05); */
	padding: 16px 0;
	margin-bottom: 30px;
	position: relative;
}

.logo {
	display: block;
	float: left;
}

.logo:hover {
	transform: scale(1.2);
	/* box-shadow: 2px 1px #2aaee242; */
}

.logo:active {
	transform: scale(0.9);
	
}

.nav-toggle {
	display: none;
	position: relative;
	float: right;
	width: 52px;
	height: 52px;
	margin-left: 20px;
	background: #000000;
	cursor: pointer;
	margin-top: 6px;
}

.nav-toggle:hover {
	box-shadow: -2px -2px #2aaee242;
	transform: scale(1.2);
}

.nav-toggle span {
	display: block;
	position: absolute;
	top: 25px;
	left: 8px;
	right: 8px;
	height: 2px;
	background: #ffffffe5;
}

.nav-toggle span:before, .nav-toggle span:after {
	content: "";
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	height: 3px;
	background: #ffffffe5;
}

.nav-toggle span:before {
	top: -16px;
}

.nav-toggle span:after {
	bottom: -16px;
}

#menu.active {
	max-height: 180px;
}

#menu {
	float: right;
}

#menu li {
	display: inline-block;
	margin-right: 30px;
	margin-top: 20px;
}

#menu a {
	display: block;
	color: rgb(0, 0, 0);
	font-family: 'Oxygen';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
}

#menu a:hover  {
	color: #2aaee2e5;
	transform: scale(1.2);
}

#menu a:active {
	transform: scale(0.9);
}

#menu li:last-child {
	margin-right: 0;
}

#button {
	float: right;
	display: inline-block;
	margin-left: 48px;
	position: relative;
	margin-top: 20px;
}

.header-button {
	padding: 20px 28px;
	background: #696969;
	border-radius: 50px;
	color: #FFFFFF;
	font-family: 'Oxygen';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
}

#button:hover, #button a:hover {
	color: #2aaee2e5;
	transform: scale(1.2);
}

#button:active, #button a:active {
	transform: scale(0.8);
	box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.3);
}
/* ///Style for header END/// */

.container-flex {
	margin: 0 auto;
	width: 100%;
	max-width: 1000px;
	padding: 24px 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.body-button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 4px;
}

.button-contact {
	padding: 20px 28px;
	background: #696969;
	border-radius: 50px;
}

.body-button:hover, .body-button a:hover {
	color: #2aaee2e5;
	transform: scale(1.1);
}

.body-button:active, .body-button a:active {
	transform: scale(0.8);
	/* box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.3); */
}

.body-button a:active {
	transform: scale(0.8);
	box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.3);
}

.fp-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.fp-title {
	width: 684px;
	font-family: 'Oxygen';
	font-style: normal;
	font-weight: 700;
	font-size: 52px;
	line-height: 150%;
	color: #000000;
}

.color-grey {
	color: #696969;
}

.color-lightgrey {
	color: #C4C4C4;
}



/* ///Style @media START/// */

@media (max-width: 768px) {

	.logo {
		transform: scale(0.95);
	}

	.logo:hover {
		transform: scale(1);
	}

	.nav-toggle {
		display: block;
		/* margin: auto; */
	}

	header {
		padding: 8px 0;
	}

	#menu {
		max-height: 0;
		background: #000000;
		float: none;
		position: absolute;
		overflow: hidden;
		top: 116px;
		right: 0;
		left: 0;
		margin: 0;
		padding: 0;
		z-index: 3;
	}

	#menu li {
		display: block;
		text-align: center;
		border-bottom: 1px solid #EBEBE3;
		margin-right: 0;
		margin-top: 0;
		
	}

	#menu a {
		padding: 12px 0px;
		color: #FFFFFF;
	}

	
}

@media (max-width: 480px) {

	.logo {
			transform: scale(0.8);
		}
	
		.logo:hover {
			transform: scale(0.85);
		}

	#menu {
		top: 116px;
	}

	#button {
		display: none;
	}


}

/* ///Style @media END/// */